#set($layout='layout/defaultUnderwriter.html')
<link rel="stylesheet" type="text/css" href="../css/index.css">
<div class="mt40 ml25 clearfix">
	<div class="data">
		<p>昨日分成金额</p>
		<p>￥$!{numeric.toFixedCurrency(${math.div($!{statInfos.get(0).sum},100)})}</p>
	</div>
	<div class="data">
		<p>昨日卡券领取数</p>
		<p>$!{numeric.toFixedNumber($!{statInfos.get(0).count})}</p>
	</div>
	<div class="data">
		<p>历史分成金额</p>
		<p>￥$!{numeric.toFixedCurrency(${math.div($!{statInfo.sum},100)})}</p>
	</div>
	<div class="data">
		<p>历史卡券领取数</p>
		<p>$!{numeric.toFixedNumber($!{statInfo.count})}</p>
	</div>
</div>
<div class="mt40 ml25 clearfix">
	<ul class="tab clearfix" id="tab_border">
		<li class="tab_active">卡券领取数</li>
		<li>分成金额</li>
	</ul>
	<div class="slide" id="slide_border"></div>
	<div class="mt10 chart" id="chart1"></div>
	<div class="mt10 chart" id="chart2"></div>
</div>
</div>
</div>
<script type="text/javascript" src="../js/underwriterIndex.js"></script>
<script>
	$("#home_first").attr("class", "first_menu active_menu");
	var chartData1=new Array();
	var chartData2=new Array();
	#foreach(${item} in ${statInfos})
		chartData1.push(${item.count});
	    chartData2.push(${item.sum});
	#end
</script>