.block_syb {
	font-size: 35px;
	color: #ffb647;
}

.theme {
	font-size: 28px;
	font-family: '微软雅黑';
	color: #ffb647;
}

.home {
	font-size: 24px;
	font-family: '微软雅黑';
	color: #ffb647;
}

.logo {
	vertical-align: bottom;
}

.modifyPassword {
	width: 490px;
	margin-left: auto;
	margin-right: auto;
}

.form_head {
	display: inline-block;
	width: 120px;
	text-align: right;
	font: 18px '微软雅黑';
}

input {
	width: 351px;
	height: 38px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding-left: 8px;
	font-size: 16px;
}

.security_ipt {
	width: 158px;
	margin-right: 10px;
}

.center {
	margin-top: 80px;
}

.center button:first-child {
	margin-right: 30px;
}

.success {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.success_img {
	float: left;
	margin-top: -20px;
}

.success_tip {
	width: 620px;
	margin-top: 30px;
	text-align: center;
	font: 24px '微软雅黑';
	color: #646464
}

.success_tip span {
	font: 18px '微软雅黑';
}

.success_tip a {
	color: #ff667a;
	font: 18px '微软雅黑';
}

.success_tip:last-child {
	font-size: 18px;
}

.btn {
	width: 130px;
	padding: 0;
}