.form_content {
	background-color: #fff;
	border-radius: 10px;
	padding: 20px;
	padding-bottom: 50px;
}

.form_content > div {
	margin-top: 40px;
	font-size: 16px;
}

.form_content > div span {
	font-size: 16px;
}

.input_head {
	display: inline-block;
	width: 350px;
	text-align: right;
}

.error {
	top: 40px;
	left: 355px;
}

.btn:first-child {
	margin-right: 60px;
}

.text_input {
	width: 220px;
}