.form_content {
	background-color: #fff;
	border-radius: 10px;
	padding-top: 80px;
	padding-bottom: 80px;
}

.form_content > div {
	margin-top: 40px;
	font-size: 16px;
}

.form_content > div:last-child {
	margin-top: 60px;
}

.form_content > div span {
	font-size: 16px;
}

.input_head {
	display: inline-block;
	width: 300px;
	text-align: right;
}

.error {
	top: 40px;
	left: 306px;
}

.btn:first-child {
	margin-right: 60px;
}