<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
	<title>HTML</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta http-equiv="Cache-Control" content="no-siteapp">
	<script type="text/javascript" src="../js/jquery-2.1.4.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/common.css">
	<link rel="stylesheet" type="text/css" href="../css/modifyPassword.css">
</head>
<body>
<div class="container">
	<div class="left_menu clearfix">
		<div class="left_scroll">
			<img class="mt20 logo" src="../images/logo.jpg">
			<div>
				<a class="first_menu" href="publisherIndex.html">
					<span class="menu_icon"></span>首页
				</a>
			</div>
			<div>
				<a class="first_menu" href="javascript:;">
					<span class="menu_icon"></span>我的卡券
				</a>
				<ul class="second_menu">
					<li><a href="publisherCouponManage.html">卡券管理</a></li>
					<li><a href="publisherCouponPut.html">已上架卡券</a></li>
				</ul>
			</div>
			<div>
				<a class="first_menu" href="../manager/couponMarket.html">
					<span class="menu_icon"></span>卡券市场
				</a>
			</div>
			<div>
				<a class="first_menu active_menu" href="javascript:;">
					<span class="menu_icon"></span>系统管理
				</a>
				<ul class="second_menu hide">
					<li><a href="publisherCash.html">账户资金</a></li>
					<li><a href="publisherAccount.html">账户信息</a></li>
					<li><a class="active_second_menu" href="publisherModifyPassword.html">修改密码</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="main">
		<header>
			<div class="header">
				<img class="exit" src="../images/exit.png">
				<div>
					您好， <span id="recount">18765432100</span>
				</div>
			</div>
		</header>
		<div class="mt50 content">
			<div>
				<div class="modifyPassword">
					<div>
						<div class="form_head">
							<span class="red">*</span>原密码：
						</div>
						<input id="old_password" type="password" placeholder="请输入原密码">
					</div>
					<div class="mt40">
						<div class="form_head">
							<span class="red">*</span>新密码：
						</div>
						<input id="password" type="password" placeholder="请输入6-18位数字、字母、非空字符" maxlength="18">
						<input id="password_temp" type="hidden">
					</div>
					<div class="mt40">
						<div class="form_head">
							<span class="red">*</span>确认新密码：
						</div>
						<input id="repassword" type="password" placeholder="请输入6-18位数字、字母、非空字符" maxlength="18">
					</div>
					<div class="center">
						<button class="btn" id="confirmed">确定</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/modifyPassword.js"></script>
</body>
</html>