<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
<title>微卡券市场</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta http-equiv="Cache-Control" content="no-siteapp">
<link rel="stylesheet" type="text/css"
	href="${rc.contextPath}/css/common.css">
<script type="text/javascript"
	src="${rc.contextPath}/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/common.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/jQuery.md5.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/accounting.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/highcharts.js"></script>
<script type="text/javascript"
	src="${rc.contextPath}/js/My97DatePicker/WdatePicker.js"></script>
<script>
	var ctxPath = "${rc.contextPath}/";
</script>
</head>
<body>